.shiny-notification {
	position:fixed;
	top: calc(50%);
	left: calc(50%);
}


.calibrationTXT {
	text-align: left;
	font-size: medium;
	font-family: "Times New Roman", Times, serif;


}

.modal-lg {
    width: 90%;
}
